<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to("r/#{post.community}",  subreddit_path(post.community)) %></strong>
          <br>
          <strong>
            <%= link_to(post.title, subreddit_post_path(subreddit_id: post.community, id: post.slug), class: 'post-body-link') %>
          </strong><small> by u/<%= post.username %> </small>
          <small><%= time_ago_in_words(post.created_at) %> ago</small>
          <br>
          <%= link_to(post.body, subreddit_post_path(subreddit_id: post.community, id: post.slug), class: 'post-body-link') %>
        </p>
      </div>
    </div>
  </article>
</div>
