<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to "r/#{post.community}",  subreddit_path(post.community) %></strong>
          <br>
          <strong><%= post.title %></strong> <small> by u/<%= post.username %> </small> <small><%= time_ago_in_words(post.created_at) %> </small>
          <br>
          <%= post.body %>
        </p>
      </div>
    </div>
  </article>
</div>