<div class="box" data-controller="post">
  <h1 class="title">New post on r/<%= subreddit_title %></h1>
  <%= form_tag(subreddit_posts_path(subreddit_slug: subreddit_title), method: :post, data: { turbo: false }) do %>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <%= text_field_tag(:title, '', class: 'input')%>
      </div>
    </div>
    <div class="field">
      <label class="label">Post</label>
      <div class="control">
        <%= rich_text_area_tag(:body, '', placeholder: '', class: 'textarea is-info is-full-width', required: "required") %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= submit_tag 'Send', class: 'button is-primary' %>
      </div>
      <div class="control">
        <%= link_to 'Back', subreddit_path(slug: subreddit_title), class: 'button is-danger'%>
      </div>
    </div>
  <% end %>
</div>
