<div class="box" data-controller="utils">
  <h1 class="title">New post on r/<%= subreddit_title %></h1>
  <% flash.each do |type, msg| %>
    <div class="notification is-danger is-light">
      <%= msg %>
    </div>
  <% end %>
  <%= form_tag(subreddit_posts_path(subreddit_id: subreddit_title), method: :post) do %>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <%= text_field_tag(:title, '', class: 'input')%>
      </div>
    </div>
    <div class="field">
      <label class="label">Post</label>
      <div class="control">
        <%= text_area_tag(:body, '', placeholder: '', class: 'textarea is-info is-full-width', required: "required") %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= submit_tag 'Send', class: 'button is-primary' %>
      </div>
      <div class="control">
        <%= link_to 'Back', subreddit_path(id: subreddit_title), class: 'button is-danger'%>
      </div>
    </div>
  <% end %>
</div>
