<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to("r/#{@post.community}",  subreddit_path(@post.community)) %></strong>
          <br>
          <strong>
            <%= @post.title %>
          </strong><small> by u/<%=@post.username %> </small>
          <small><%= time_ago_in_words(@post.created_at) %> ago</small>
          <br>
          <%= @post.body %>
        </p>
        <div class="media-content">
          <nav class="level is-mobile">
            <div class="level-left">
              <%= render partial: 'posts/partials/upvote', locals: { post: @post } %>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </article>
</div>

<%= render partial: 'comments/partials/comment_box', locals: { post: @post }%>
