<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to("r/#{post.community}",  subreddit_path(post.community)) %></strong>
          <br>
          <strong>
            <%= post.title %>
          </strong><small> by u/<%=post.username %> </small>
          <small><%= time_ago_in_words(post.created_at) %> ago</small>
          <br>
          <%= post.body %>
        </p>
        <div class="media-content">
         <nav class="level is-mobile">
          <div class="level-left">
            <%= render UpvoteComponent.new(post: post) %>
            <span class="tag level-item"> 💬 <%= post.comments_count %> </span>
          </div>
        </nav>
        </div>
      </div>
      <footer class="card-footer">
        <div class="media-content">
          <div class="control mt-4">
            <turbo-frame id='post--comments'>
              <%= form_tag(subreddit_post_comments_path(subreddit_id: post.community, post_id: post.id), method: :post) do %>
                <%= text_area_tag(:body, '', class: 'textarea is-info is-full-width', required: "required" ) %>
                <%= submit_tag 'Send', class: 'button is-link mt-2' %>
              <% end %>
              <ul>
                <% comments.each do |comment|%>
                  <%= render Subreddits::CommentComponent.new(comment: comment) %>
                <% end %>
              </ul>
            </turbo-frame>
          </div>
        </div>
      </footer>
    </div>
  </article>
</div>
