<div class="columns">
  <div class="column is-9">
    <% @posts.each do |post| %>
      <%= render partial: 'posts/partials/post_preview', locals: { post: post }%>
    <% end %>
  </div>
  <div class="column is-3">
    <div class="card" data-controller="modal">
      <div class="card-content" data-controller="subscription" >
        <%= render partial: 'subreddits/partials/subscription', locals: { subscribed: @subscribed, subreddit: @community } %>
        <p class="title mt-3">
          <%= @community.description %>
        </p>
        <p class="subtitle">
          <%= "r/#{@community.title}" %>
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <%= link_to 'Create post', new_subreddit_post_path(subreddit_id: @community.title) %>
          </span>
        </p>
      </footer>
    </div>
  </div>
</div>
