<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>Reddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>
  <body>
    <%= render partial: 'partials/navbar' %>
    <section class="section">
   <%= turbo_frame_tag "modal", target: '_top' %>
      <div class="container">
        <% flash.each do |type, msg| %>
          <div class="notification is-danger is-light">
            <%= msg %>
          </div>
        <% end %>
        <div class="columns">
          <div class="column is-full-width">
            <% if user_logged_in? %>
            <nav class="navbar " role="navigation" aria-label="main navigation">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  🍿 Your timeline
                </a>
                <a class="navbar-item" href="/">
                  🎉 Popular
                </a>
              </div>
            </nav>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
